* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-top: 130px;
}
/* header and navigation */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    /* nav er h2 arr li k dui pashey pathabe */
    margin: 50px 200px;
}

/* nav li{
    display: inline;
} */
nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner stles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
    /* above line text ar pics k same line borabor niye asbee */
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main Section */
main {
    max-width: 1140px;
    margin: 0 auto;
    /* margin 0+auto na kore display flex diye kora jay */
}

/* about section styles */
.about {
    text-align: center;
    /* margin-top: 130px; sob section a margin top same tai ekta section tag a niley enough */
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    font-size: 20px;
}

.info-title {
    color: #757575;
}

.info-description {
    color: #474747;
    font-weight: 700;
}

/* What I Do Section */
/* .what-i-do {
    margin-top: 130px; margin top section tag a disisi
} */

/* .section-title{

} */
.skills-container {
    display: flex;
    gap: 24px;
    /* gap diye duita item er moddhey difference bujhay */
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-size: 16px;
    color: #757575;
}